* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #181818;

}

.right {
    display: flex;
    gap: 30px;
}

.nav_link {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}